@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-carousel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 40px 20px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  font-family: "Itim", cursive;
  margin: 20px 0;
}

.swiper {
  width: 100%;
  height:100%;
}

.swiper-slide {
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #333333;
  border-radius: 20px;
  text-align: start;
  margin: 10px 0;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  display: block;
  border-radius: 20px 20px 0px 40px;
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
}

.description {
  margin: 20px 20px;
}

.description h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 5px;
}

.description p {
  margin-bottom: 0;
  font-size: 16px;
  color: #afafaf;
}

/* Responsividade Mobile */
@media (max-width: 360px) {

  /*Carousel Swiper*/
  .subtitle {
    justify-content: center;
    margin: auto auto;
  }

  .card {
    width: 315px;
  }
}

/* Responsividade Tablet */
@media (max-width: 1024px) {

  /*Carousel Swiper*/
  .subtitle {
    justify-content: center;
    margin: auto auto;
  }

  .card {
    width: 100%;
  }

}