footer {
  background-color: #7F52CB;
  color: #fff;
}

.container-home-contact {
    background-color: #F2F2F2;
    padding: 20px;
  h3 {
    color: #333333;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.container-inputs-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 

  input {
    width: 48%;
    padding: 8px;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 1px solid #333333;
  }
}

.container-message-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 8px;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 1px solid #333333;
  }
}

.button-send-contact {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #7F52CB;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px;

  &:hover {
    background-color: #502e89;
    color: #F2F2F2;
  }
}

.container-home-links {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0px;
  padding-top: 30px;

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    
    &:hover {
      color: #333333;
    }
  }

  p {
    margin: 10px 0px;
  }

  button {
    background-color: #fff;
    color: #7F52CB;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    height: 80px;
    width: 380px;

    &:hover {
      background-color: #502e89;
      color: #F2F2F2;
    }
  }

  .links-and-questions {
    display: flex;
    justify-content: space-around;
    width: 50%;

  }
  
  .opening-hours > p {
    margin: 0px;
  }
}

.container-home-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;

  span {
    color: #fff;
    font-size: 14px;
  }

  .info-address {
    display: flex;
    padding: 15px;
    gap: 30px;
    border-radius: 10px;
    background-color: #9975d5;
  }

  .social-medias {
    display: flex;
    gap: 20px;
  }
}

/* Responsividade Mobile */
@media (width <= 576px) {
  .container-inputs-contact {
    flex-direction: column;
    gap: 20px;    
    input {
      width: 100%;
    }
  }
  .container-home-links {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    .links-and-questions {
      width: 100%;
    }
    button {
      width: 70%;
    }
  }
  .links-and-questions {
    padding: 15px;
    gap: 10px;
    margin-left: 30px;
  }
  .container-home-info {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .info-address {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0px 20px;
    p {
      text-align: center;
      padding: 5px;
    }
  }

}

/* Responsividade Tablet */
@media (width <= 900px) {
  .container-home-links {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    .links-and-questions {
      width: 100%;
    }
  }
  .container-home-info {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .info-address {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

}