@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.text h1 {
    padding: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    z-index: 0;
}

.links-transparencia ul {
    list-style-type: none;
    padding: 40px;
}

.links-transparencia li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #333333;
    color: #ffffff;
    width: 740px;
    box-sizing: border-box; 
    padding: 20px; 
    border-radius: 30px;
    position: relative; 
}

.links-transparencia ul li i {
    background-color: #7F52CB;
    padding: 12px 32px;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.download-icon {
    margin-left: auto; 
}
